<html>
    <head>
        <title>
            Rock, Paper, Scissors
        </title>
        <style>
            form {
               background-color: lightblue; 
               font-family: 'Prompt', sans-serif;
               font-size: 30px;
            }
            
            h1 {
                background-color: lightgreen;
                font-family: 'Concert One', cursive;
            }
            
            p {
                background-color: lightgrey;
                font-family: 'Audiowide', cursive;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Audiowide|Concert+One|Prompt" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <%= yield%>
    </body>
</html>