
<div class="container">
    <h1> Pick Khan, Jesus, or Shiffman</h1>
    
    <div class = "col 14">

<h2> Khan</h2>
<a href="/throw/rock">
<img src="http://2016.educon.org/thumbnail/1379/400x400/cropped" width="150px">
</a>

    <div class = "col 14">
<h2> Jesus</h2>
<a href="/throw/paper">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Cefal%C3%B9_Pantocrator_retouched.jpg/1200px-Cefal%C3%B9_Pantocrator_retouched.jpg" width="150px">
</a>
</div>

    <div class = "col 14">
<h2> Shiffman</h2>
<a href="/throw/scissors">
<img src="https://www.faludi.com/wp-content/uploads/2008/02/happyshizzle.jpg" width="150px">
</a>
</div> 
</div>
</div>